nav {
  width: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: right;
  height: 100px;
}

nav ul {
  list-style-type:none;
}

nav ul li {
  display: inline;
  font-size: 20px;
}
.carousel slide >.carousel-inner >.carousel-item{
  width:640px;
  height:360px;
}
body {
background-color:#778899;
}
.card h-100>img{
height : 50px;
}
